body {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {    /* Unvisited links */
    color: black; 
    text-decoration: none; 
}        

a:visited { /* Visited links */
    color: black; 
    text-decoration: none; 
}     
a:hover {   /* Hovered links */
    text-decoration: underline; 
}

a:active {  /* Active links */
    color: red; 
    text-decoration: underline; 
} 