body {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* TODO: why doesn't this work? */
    position: fixed;
    width: 100%;
}

.header-bar {
    top: 0;
}

.footer-bar {
    bottom: 0;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 12px;
}

li a:link, li a:visited { 
    color: #555; 
    text-decoration: none; 
}        

li a:hover, li a:active { 
    text-decoration: underline; 
}

.footer-bar li a:active { 
    color: red;
} 

.header-bar-right {
    float: right;
}

.footer-bar-right {
    float: right;
}